
.container {
    width: 100%;
    height: 100vh;
}

.tmpltd {
    display: flex;
    justify-content: center;
}

.head {
    display: flex;
    justify-content: center;
    margin-bottom: 10rem;

}

.profil-select {
    display: flex;
    justify-content: center;
    margin-right: 1rem;
}

.editor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25rem;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-bottom: .5rem;
}

.blue {
    background-color: var(--skyBlue);
}

.grey {
    background-color: var(--spaceCadet);

}

.profil-selector {
    margin-right: 1rem;
    width: 150px;
    height: 150px;
    border-radius: 150px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.username {
    margin-top: 44%;
}

.cta-range {
    display: flex;
    justify-content: space-between;
}

.err {
    text-align: center;
    margin-top: .5rem;
    color: var(--redPantone);
}