/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --coolGray: #8D99AE;
    --space: hsl(234, 19%, 29%);
    --spaceCadet: #2B2D42;
    --antiFlashWhite: #EDF2F4;
    --redPantone: #EF233C;
    --crimson: #D80032;
    --skyBlue: #4CC9F0;
    --seeGreen: #519872;
}

body {
    margin: 0px;
}

button {
    background-color: var(--spaceCadet);
    color: var(--antiFlashWhite);
    border-radius: 5px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    padding: .5rem;
    width: fit-content;
}

input {
    background-color: var(--spaceCadet);
    color: var(--antiFlashWhite);
    border-radius: 5px;
    border: none;
    font-size: 15px;
    padding: .5rem;
}

.red-btn {
    background-color: var( --crimson);
}

html {
    background-color: var(--coolGray);
    color: var(--antiFlashWhite);
    font-family: "Roboto", sans-serif;
    overflow-y: hidden;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }